html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/public/images/background2.jpg");
  background-size: 50% 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-color: black;
}

.App{
  display: contents;
}

.App table {
  width: 100%;
  border-collapse: collapse;
}

.App table td {
  border: none;
  padding: 10px;
  text-align: center;
}

.App-side {
  width: 25%;
  color: white;
}

.App-middle{
  width: 50%;
}

.App-body {
  font-family: 'Grenze Gotisch';
  font-size: 44px;
  font-weight:100;
  color: rgb(225, 240, 89);
  text-shadow: 2px 2px 3px rgb(7, 7, 7);
  text-align: center;
  text-decoration: none;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 10px;
}

.App-body h1 {
  font-size: 72px;
  margin-top: 10px;
  padding-bottom: 25px;
}

.App-body h1:hover {
  cursor: none;
  color: rgb(241, 0, 0);
  animation: blink 1s infinite;
}

.App-body a{
  text-decoration: none;
  color: rgb(225, 240, 89);  
}

.App-body a:hover{
  color: rgb(241, 0, 0);
  animation: blink 1s infinite;
}

.App-body button {
  text-align: center; 
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 44px;
  font-family: 'Grenze Gotisch';
  cursor: pointer;
  color: rgb(225, 240, 89);   
  text-shadow: 2px 2px 3px rgb(7, 7, 7);  
}

.App-body button:hover{
  color: rgb(241, 0, 0);
  animation: blink 1s infinite; 
}

.App-body p{
  text-align: center;
  font-size: 32px;
}

.Popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Popup-content {
  font-family: 'Grenze Gotisch';
  font-size: 44px;
  font-weight:100;
  color: rgb(225, 240, 89);
}

.Popup-content button {
  text-align: center; 
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 34px;
  font-family: 'Grenze Gotisch';
  cursor: pointer;
  color: rgb(225, 240, 89);   
  text-shadow: 2px 2px 3px rgb(7, 7, 7);  
}

.Popup-content button:hover {
  color: rgb(241, 0, 0);
  animation: blink 1s infinite; 
}

.Blinking-text {
  font-family: 'Grenze Gotisch';
  font-size: 82px;
  text-align: center;
  color: yellow;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
