
.App {
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 10px;
  float: left;
  background-color: brown;
}

.App-head {
  font-family: 'Jacquard 12';
  font-size: 52px;
  text-align: center;
}

.App-body {
  font-family: 'Jacquard 12';
  text-align: center;
}

.App-body h1 {
  font-size: 52px;
}

.App-body a {
  font-size: 32px;
  color: brown;
}

.App-body ol {
  background-color: white;
}
/*The division where buttons will be located */
.Generator-div {
  background-color: blue;
  text-align: center;

}

.Generator-div button {
  padding: 4px;
  margin-right: 10px;
  background-color: beige;
}

/*The division where buttons will be located */
.List-div {
  background-color: yellow;
  text-align: center;
}

/* Style of text 1 */
.text1 {
  font-family: 'UnifrakturMaguntia';
  font-size: 52px;
  text-align: center;
}

/* Style of text 2 */
.text2 {
  font-family: 'Jacquard 12';
  font-size: 52px;
  text-align: center;
}