
.header {
  font-family: 'Jacquard 12';
  font-size: 52px;
  text-align: center;
}

.App-head {
  font-family: 'Jacquard 12';
  text-align: center;
}

.App-body {
  font-family: 'Jacquard 12';
  text-align: center;
  background-color: rgb(66, 26, 26);
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 10px;
  
}

.App-body h1 {
  font-size: 82px;
}

.App-body ol {
  background-color: white;
}

/*The division where buttons will be located */
.mid-div {
  text-align: center;
  font-size: 48px;
  color: black;
}

.mid-div a:hover{
  font-size: 48px;
  color: yellow;
  text-align: center;
  animation: blink 1s infinite;
}

.mid-div button {
  padding: 4px;
  margin-right: 10px;
  font-size: 48px;
  font-family: 'Jacquard 12';
  background-color: blue;
  width: 100%;
  border-radius: 10px;
}

.mid-div button:hover{
  padding: 4px;
  margin-right: 10px;
  background-color: yellow;
  animation: blink 1s infinite; 
}

/*The division where generated caharacters will be located */
.bottom-div {
  background-color: yellow;
  text-align: center;
}

/* Style of text 1 */
.text1 {
  font-family: 'UnifrakturMaguntia';
  font-size: 52px;
  text-align: center;
}

/* Style of text 2 */
.text2 {
  font-family: 'Jacquard 12';
  font-size: 52px;
  text-align: center;
}

.blinking-text {
  font-family: 'Jacquard 12';
  font-size: 52px;
  text-align: center;
  color: green;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}